
<div class="page-content">

      <div id="wrap">
  <div id="topLogo_Mng"> 
    <!-- Start container -->
    <div class="container">
      <div class="content">
        <h1>Features</h1>
        <div class="row"> 
          <!-------------------- tab pannle start -------------------->
          <div class="col-md-9 col-sm-12 col-xs-12">
            <div class="sliderBg">
              <h3>Sub heading goes here!</h3>
              <!-- post wrapper -->
              <div class="tabbable tabs-custom">
                <ul class="nav nav-tabs tab-bg">
                  <li class="active"><a href="#tb1" data-toggle="tab">UET</a></li>
                  <li><a href="#tb2" data-toggle="tab">PET</a></li>
                  <li><a href="#tb3" data-toggle="tab">SET</a></li>
                  <li><a href="#tb4" data-toggle="tab">SCS</a></li>
                </ul>
                <div class="tab-content">
                  <div class="tab-pane fade in active" id="tb1">
                    <p><strong>1st Tab content goes here!</strong> Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
                    <p>1st Tab content goes here! Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
                  </div>
                  <div class="tab-pane fade" id="tb2">
                    <p><strong>2nd Tab content goes here!</strong> Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
                    <p>2nd Tab content goes here! Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
                  </div>
                  <div class="tab-pane fade" id="tb3">
                    <p><strong>3rd Tab content goes here!</strong> Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.</p>
                    <p>3rd Tab content goes here! Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
                  </div>
                  <div class="tab-pane fade" id="tb4">
                    <p><strong>4th Tab content goes here!</strong> Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.</p>
                    <p>4th Tab content goes here! Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
                  </div>
                </div>
              </div>
              <div align="center"><img src="images/460.gif" width="460" height="67" alt="Online Payment"></div>
            </div>
          </div>
          <!-------------------- tab pannle end --------------------> 
          
          <!-------------------- Registration pannle start -------------------->
          <div class="col-md-3 col-sm-12 col-xs-12">
            <div class="doReg">
              <div align="center">
                <h3>Applicant Login</h3>
              </div>
              <div class="span2">
                <div align="center"><img src="images/icon-login.png" width="104" height="104" alt="ucanapply"></div>
              </div>
              <div align="center">
                <div class="clrH20"></div>
                Existing user?
                <div class="clrH20"></div>
                <a href="#myModal" class="btn btn-primary" data-toggle="modal">Sign In</a>
                <div class="clrH20"></div>
                <strong>New user?</strong> Registered Now!<br>
                <br>
                <a href="#" class="btnGreenAc">Make Registration</a> </div>
              <br>
              <br>
              <br>
            </div>
          </div>
          <!-------------------- Registration pannle end --------------------> 
          
        </div>
      </div>
    </div>
    <!-- Start container --> 
  </div>
</div>
</div>